@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
		@apply block max-w-full max-h-full;
	}

	abbr {
		@apply no-underline;
	}
}

@layer components {
	.terrain {
		@apply relative bg-[url("../images/TERRAIN_FOOTBALL.svg")] bg-contain z-0 aspect-[534/738] grid grid-cols-5 grid-rows-5 gap-3 sm:gap-4 justify-items-center sm:p-4;
	}
	.terrain .player {
		@apply relative text-yellow-950 w-full;
	}
	.terrain .player img.badge-bg {
		@apply block absolute top-0 left-0 w-full h-full object-contain -z-10;
	}
	.terrain .player img.photo {
		@apply w-3/4 mx-auto;
	}
	.terrain .player .player-name {
		@apply font-medium w-fit mx-auto text-sm leading-none;
	}
	.terrain .player .statistic abbr {
		@apply text-[clamp(6px,.8vw,.8rem)];
	}
	.terrain .player .statistic {
		@apply flex justify-around items-center font-medium text-[clamp(6px,1vw,1rem)] leading-none  xs:my-2 sm:my-0;
	}
	.terrain .player .logos {
		@apply flex justify-center items-center gap-3 sm:gap-2 md:gap-3 [&>li]:w-5 xs:[&>li]:w-6;
	}
	.terrain .player .rating {
		@apply font-medium text-xs sm:text-sm rounded-full bg-white/40 backdrop-blur-sm leading-none aspect-square flex justify-center items-center;
	}
	.players {
		@apply bg-white/75 rounded-md border-black;
	}
	.add-form-input {
		@apply w-full px-4 py-1 mb-2 border border-gray-400 rounded;
	}
	.add-form-small-input {
		@apply w-full px-1 py-1 mb-2 border border-gray-400 rounded;
	}
}

@layer utilities {
	.position-1 {
		@apply col-start-2;
	}
	.position-2 {
		@apply col-start-4;
	}
	.position-3 {
		@apply row-start-2;
	}
	.position-4 {
		@apply row-start-2 translate-y-12;
	}
	.position-5 {
		@apply row-start-2 col-start-4 translate-y-12;
	}
	.position-6 {
		@apply row-start-2 col-start-5;
	}
	.position-7 {
		@apply row-start-4;
	}
	.position-8 {
		@apply row-start-4 translate-y-12;
	}
	.position-9 {
		@apply row-start-4 col-start-4 translate-y-12;
	}
	.position-10 {
		@apply row-start-4 col-start-5;
	}
	.position-11 {
		@apply row-start-5 col-start-3;
	}

	.active-badge {
		filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 8px #000);
		scale: 1.2;
	}
}
.fade-in {
	animation: fade-in 300ms forwards;
}

.fade-in-slow {
	animation: fade-in 600ms forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

.fade-out {
	animation: fade-out 300ms forwards;
}

@keyframes fade-out {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

/********** loader ***********/

main-loader {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
}
.main-fader {
	width: 100%;
	height: 100vh;
	background-color: #333;
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-fader .loader svg {
	height: 300px;
	display: block;
	margin: 0 auto;
}
.main-fader .loader svg path {
	animation-duration: 1s;
	animation-name: pulse;
	animation-iteration-count: infinite;
	color: #26a380;
}
.main-fader .loader svg path.path-7 {
	animation-delay: -1s;
}
.main-fader .loader svg path.path-6 {
	animation-delay: -0.875s;
}
.main-fader .loader svg path.path-5 {
	animation-delay: -0.75s;
}
.main-fader .loader svg path.path-4 {
	animation-delay: -0.625s;
}
.main-fader .loader svg path.path-3 {
	animation-delay: -0.5s;
}
.main-fader .loader svg path.path-2 {
	animation-delay: -0.375s;
}
.main-fader .loader svg path.path-1 {
	animation-delay: -0.25s;
}
.main-fader .loader svg path.path-0 {
	animation-delay: -0.125s;
}
@keyframes pulse {
	0% {
		opacity: 0.1;
	}
	30% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.1;
	}
}
